<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Document</title>
</head>
<body>

    <h1>Макет № 1</h1>

    <div class="flex-container">
        <div class="flex-item1">1</div>
        <div class="flex-item2">5</div>
        <div class="flex-item3">2</div>
        <div class="flex-item4">4</div>
        <div class="flex-item5">3</div>    
    </div>

    <h1>Макет № 2</h1>
    <div class="conteiner">
        <div class="item item3">1</div>
        <div class="item item1">2</div>
        <div class="item item1">3</div>
        <div class="item item1">4</div>
        <div class="item item1">5</div>
        <div class="item item1">6</div>
        <div class="item item1">7</div>
        <div class="item item2">8</div>
        <div class="item item4">9</div>

    </div>

    <h1>Макет № 3</h1>

    <div class="block1">1</div>


    <h1>Макет № 4</h1>

    <div class="flex-cont">
        <div class="flex-1">1</div>
        <div class="flex-2">2</div>
        <div class="flex-3">3</div>
        <div class="flex-4">4</div>
        <div class="flex-5">5</div>
        <div class="flex-6">6</div>
    </div>

    
</body>
</html>